*{
    margin: 0;
    padding: 0;
}

.card{
    background-color: #1d1c1a;
    height: 500px;
    width: 350px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    border-radius: 10px;
    box-shadow: 3px 3px 5px black;
}
body{
    background-color: #c85528;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon{
    width: 30%;
    border-radius: 60%;
    margin: 15px 0px;
}

h2, h3, h4{
    margin: 2px 0px;
}
h2{
    color: #c85528;
}

h3{
    color: #c85528;
    
}
h4{

    color: #c85528;
}

.table{
    display: flex;
    width: 75%;
    justify-content: space-between;
    margin-top: 10px;
}

.high{
    background-color: #c85528c7;
    color: black;
}

.sub{
    width: 85%;
}

.sub h3, .marks h3{
    padding: 2px 10px;
    border-bottom: 1px solid;
}
